.button {
  color: white;
  padding: 10px 16px;
  font-size: var(--font-size-main);
  border: none;
  border-radius: 12px;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  border: 1px solid var(--accent-color);

}

.primary {
  background-color: transparent;
  transition: all 0.3s ease;
  color: gray;
  
  &:hover {
      background-color: var(--hover-color);
      color: white;
    }
      
  }
  
  .shaded {
      background-color: var(--accent-color);
      transition: all 0.3s ease;
  
      &:hover {
        background-color: var(--hover-color);
      }
  }
