.input {
    padding: 8px 12px;
    font-size: var(--font-size-main);
    border: 1px solid #0000001a;;
    border-radius: 10px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
   
  
    &:focus {
      border-color: var(--accent-color);
    }
  
    &:disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }
  }