.container {
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    border: 1px solid var(--detail-color);
    font-size: var(-font-size-main);
    padding: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.activitiesContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.type {
    background-color: var(--accent-color);
    padding: 3px 3px;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}