.taskBlock {
    display: flex;
    flex:1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--detail-color);
    padding-bottom: 8px;
}

.rightSide {
    display: flex;
    gap: 15px;
}

.leftSide {
    font-family: sans-serif;
    font-size: var(--font-size-main);
    width: 83%;
    overflow: auto;
    display: flex;
    align-items: center;
}

.checkbox {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    
}

.editInput {
    width: 70%;
    height: 1.5rem;
}
.text {
    white-space: nowrap;
}